data-for-hadoop/
!/data 
!/data/*.csv
/data/*.txt
gen-projects.ps1
.classpath
target/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.cache-main
.project
.gradle
build/